extends layout


block content
  h1= title

  div
    img(src='')
    script(type="text/javascript").
      picSource = URL.createObjectURL(pic)
      document.querySelector('img').src = picSource
    ul
      for element in list
        li= element.summary
        li= element.start.dateTime
        li= picSource

