body {
  background-color: wheat;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: auto;
  height: auto;
}

a {
  color: #00B7FF;
}
h1{
  color: hotpink;
  font-weight: bolder;
  font-family: Rubik;
  font-size: 48px;
}
h2{
  font-size: 36px;
  font-family: Rubik-ExtraBoldItalic;
}
h3{
  font-size: 24px;
  font-family: Rubik-ExtraBoldItalic;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.container {
  border-radius: 25px;
  background-color: white;
  padding: 20px;
  margin: 20px;
  width: auto;
  height: 350px;
  overflow: auto;
}
.event1 {
  float: left;
  padding: 15px;
}
.pic{
  width: 25%;
}
.description{
  width: 75%;
}
.event2 {
  float: right;
  padding: 15px;
}
.pic{
  width: 25%;

}
.description{
  width: 75%;
}
